.container_filter {
    width: 300px;
    border-right: solid 1px rgb(173, 173, 173);
    padding: 30px;
    box-sizing: border-box;
}

.filter_producer, .filter_type, .filter_price, .filter_power_cold, .filter_invertor {
    text-align: left;
    margin-top: 30px;
}

.filter_checkbox_list {
    margin-top: 20px;
}

.filter_checkbox {
    display: flex;
}

.filter_checkbox p {
    margin: 3px;
}

.filter_checkbox input {
    margin-left: 0;
}

.price_from_to {
    display: flex;
}

.price_from_to input {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    border: 1px solid rgb(121, 121, 121);
    border-radius: 5px;
}


