.main {
    width: 100%;
    background-image: url("../img/conditioner.jpeg");
    background-size: 100%;
  }
  
  .content {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 30px 0 30px;
    box-sizing: border-box;
  }
  
  .content_description {
    display: flex;
    flex-direction: column;
    width: 70%;
    box-sizing: border-box;
  }
  
  .benefits {
    display: flex;
    flex-direction: column; 
  }
  
  .benefits_item {
    display: flex;
    font-size: 20px;
    margin-top: 15px;
  }
  
  .icon {
    width: 25px;
    height: 25px;
    background-image: url("../img/check.png");
    background-size: 100%;
  }
  
  .info {
    margin-left: 10px;
  }
  
  .consult {
    margin-top: 50px;
  }
  
  .consult_txt {
    font-size: 20px;
    width: 50%;
  }
  
  .btn {
    margin: 30px 0 50px 0; 
  }
  