.objects {
    text-align: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.objects_item {
    width: 33%;
    padding: 30px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.objects_item img {
    width: 100%;
}

